<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/css/chats.css">
    <!-- <script src="/js/login.js"></script> -->
    
    <title>Chats</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navtag">
        <a href="#" class="navbar-brand navbar-expand-lg">Group Chat App</a>
        <div class="navbar-nav">
            <button class="btn ml-2" id="new-grp" onclick="newGrp()">New Group</button>
            <button class="btn ml-2" id="logout-btn" onclick="logout()">Logout</button>
        </div>

        
    </nav>

    <div id="form-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create New Group</h2>
            <form class="form-control" id="create-grp-form" onsubmit="createGroup(event)">
                <label for="gname">Group Name: </label>
                <input type="text" id="gname" name="gname"><br>
                <!-- <label for="gdesc">Group Description: </label>
                <input type="text" id="gdesc" name="gdesc"><br> -->
                <div id="select-users">
                    
                </div>

                <button type="submit" class="btn btn-light" id="crt-group-btn">Create</button>
            </form>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Left column for group names -->
            <div class="col-md-3">
                <div class="group-list" id="grp-list-div">
                    <!-- Group names will be dynamically added here -->
                </div>
            </div>
            <div class="vl"></div>
            <!-- Right column for group chats -->
            <div class="col-md-9" id="msgCol">
                <form id="searchForm" style="display: none;">
                    <input type="text" id="searchQuery" placeholder="Search by name, email, or phone">
                    <button type="submit">Search</button>
                </form>
                <div id="searchResults"></div>
                
                <div class="messages" id="messagesContainer">

                </div>

                <div class="message-input-container" style="display: none;">
                    <div class="inputgroup">
                        <input type="text" class="message-input" id="messageInput" placeholder="Type your message here">
                        <div class="file-input-wrapper">
                            <input type="file" id="fileInput" class="file-input" accept="image/*, video/*" />
                            <button id="uploadButton" class="upload-button-light">
                            <i class="fa fa-paperclip">📎</i>
                            </button>
                        </div>
                    </div>
                    
                      
                    <button class="btn" id="send-btn" style="width: auto;" onclick="sendMessage()">Send</button>
                </div>
            </div>
            <div class="col-md-3" id="membersDiv" style="display: none;">
                <div id="groupMembers">
                    <h2>Group Members</h2>
                    <div id="memberList"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/chats.js"></script>
    
</body>
</html>